.btn {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 6%;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    @include laptor {
        &:hover {
            transform: scale(1.10);
            cursor: pointer;
        }
    }
}

.btn__negro {
    background-color: black;
    color: #fff;
}